<form action="/api/products/upload" enctype="multipart/form-data" method="post">
    TITLE: <input type="text" name="title" id="title">
    DESCRIPTION: <input type="text" name="description" id="description">
    PRICE: <input type="number" name="price" id="price">
    THUMBNAIL: <input type="file" name="thumbnail" id="thumbnail">
    CODE: <input type="text" name="code" id="code">
    STOCK: <input type="number" name="stock" id="stock" min="1">
    CATEGORY:<select name="category" id="category">
                <option value="accessories">Accessories</option>
                <option value="pc">PC</option>
                <option value="cpu">CPU</option>
                <option value="gpu">GPU</option>
                <option value="laptop">Laptop</option>
            </select>
    <input type="submit" value="Enviar">
</form>