<form action="/api/users/65d571043defb06dd4fc8aad/profiles" enctype="multipart/form-data" method="post">
    Profile Picture: <input type="file" name="profiles" id="profiles">
    <input type="submit" value="Enviar">
</form>